=prefixed($property, $prefixes, $value...)
	@each $prefix in $prefixes
		#{$prefix}-#{$property}: $value
	#{$property}: $value

=user-select($value)
	+prefixed(user-select, -webkit -moz, $value)

=appearance($value)
	+prefixed(appearance, -webkit -moz, $value)

=progress-background-color($value)
	&::-webkit-progress-bar
		background-color: $value
	background-color: $value

/* long god-name fix */

#main_wrapper
	padding-top: 2.9em

#menu_bar
	position: absolute
	right: 0
	top: 0

.frInputArea textarea
	resize: vertical

.frDockCell.left .frMsgBlock
	left: -1px
	right: auto

.dockfr_close,
.dockfr_ppage,
.craft_button,
#informer_bar div,
.voice_generator,
.craft_button,
.inspect_button,
.e_select_disabled,
.div_link,
.div_link_nu,
.superhero .block_h,
	+user-select(none)

.chat_ph
	display: flex
	flex-flow: row-reverse wrap-reverse

.ui_msg
	position: fixed
	top: 40px
	left: 0
	right: 0
	z-index: 301
	display: none
	padding-bottom: 0.7em

	body.th_nightly &
		color: #999

	.hint_bar_content
		padding: 0.5em 1em 0
		max-height: 400px
		overflow-y: auto

.hint_bar
	font-size: 90%
	text-align: center

.hint_bar_capt
	padding-bottom: 0.75em

.hint_bar_content ol
	margin: 0
	padding: 0 0 0 20px

.e_badge_pos
	right: 15px
	top: 2px
	cursor: default

	.block_h &:not(#pet_badge)
		display: none
	.block_h:hover &:not(#pet_badge)
		display: block

	.page_wrapper_5c &
		right: 16px

#equip_badge
	padding-left: 0.3em

#hero_block
	margin-bottom: 0 !important
	position: relative
	z-index: 300

.chronicle
	#left_block, #central_block, #right_block
		background: transparent

.gp_label
	width: auto
	line-height: 145%

.e_clock_inaccurate
	color: #CC0000

.voice_generator
	float: left
	margin-left: 0.3em

#arena_say_box a
	margin-left: 1em

ul.ul_inv
	margin-left: 1em

	li::before
		margin-left: -1em
		display: inline-block

#inventory
	text-align: center

#inv_block_content
	ul
		text-align: left

	.heal_item
		color: green

	.wanted_item
		color: goldenrod

	/* make '@' bold on non-bold items, too */
	.item_act_link_div
		&.div_link, &.no_link
			font-weight: bold

.craft_button
	padding: 0 0.2em

.e_craft_impossible .cr_inv
	display: none

.inv_craft_popover .e_uncraftable_choice
	text-decoration: line-through

#logger
	width: 900px
	overflow-x: hidden
	white-space: nowrap
	margin: auto
	-webkit-mask-image: linear-gradient(to left, black 94%, transparent 100%)

	.page_wrapper_5c &
		width: 1200px
		-webkit-mask-image: linear-gradient(to left, black 96%, transparent 100%)

	li
		display: inline
		list-item-style: none

	.godpower
		color: #199bdc

	.exp,
	.trader_exp,
	.forge_exp,
	.supplies,
	.toek_m,
	.toek_f,
	.refdate,
		color: #f9b436

		.th_nightly &
			color: #F7A819

	.task
		color: pink

		.th_nightly &
			color: #E09BA6

	.side_job
		color: #B51BE6

		.th_nightly &
			color: #D03CFF

	.level,
	.trader_level,
	.forge_rank,
		color: red
		font-weight: bold

	.inv
		color: #882D17

		.th_nightly &
			color: #A03920

	.hp
		color: green

	.gold
		color: #ffd700

		.th_nightly &
			color: #E0BD00

	.monster,
	.pet,
	.up_rsc,
	.up_cch,
	.up_ttw,
		color: darkmagenta

		.th_nightly &
			color: #9e2e9e

	.death,
	.enemies,
		color: red

		.th_nightly &
			color: #E00

	.bricks
		color: goldenrod
		font-weight: bold

	.logs
		color: saddlebrown
		font-weight: bold

	.charges,
	.allies,
		color: blue

		.th_nightly &
			color: #3571f5

	.savings
		color: darkorange

	.push
		color: #fa8700

	.bits,
	.book_b,
	.forge_b,
		color: #76a7bf

	.bytes,
	.book_w,
	.forge_w,
		background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet)
		text-align: center
		background-size: 800% 800%
		-webkit-background-clip: text
		background-clip: text
		color: transparent
		animation: e_rainbow 8s ease infinite

		body.e_opera &
			background-image: none
			background-size: auto
			color: #bc3ffa
			animation: none

	display: block
	position: relative

	.souls,
	.souls_prc,
	.souls_cnt
		color: #4eb3e5

		.th_nightly &
			color: #8dd9ff

@keyframes e_rainbow
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 25%
	100%
		background-position: 0% 50%


#timeout_bar
	height: 3px
	width: 100%
	display: block
	position: fixed
	z-index: 302
	opacity: 0
	top: 0
	left: 0
	+user-select(none)

	body.th_nightly &
		background: chartreuse

	body:not(.th_nightly) &
		background: dodgerblue

	&.running
		opacity: 0.75
		width: 0
		transition: width 0s linear

#informer_bar
	display: block
	position: fixed
	top: 0px
	right: 0px
	z-index: 301
	pointer-events: none

	div
		float: right
		margin: 0.4em 0.4em 0 0
		padding: 0.1em 0.5em
		background: beige
		border: 1px solid orange
		border-radius: 2px
		cursor: pointer
		pointer-events: auto

		body.th_nightly &
			background: #757560
			color: #FFB835

#forum_informer_bar
	display: block
	top: 0px
	left: 0px
	z-index: 301
	pointer-events: none
	position: fixed
	overflow: auto
	height: 100%
	direction: rtl

	a
		float: left
		margin: 0.4em 0 0 0.4em
		padding: 0.1em 0.5em
		border: 1px solid
		border-radius: 6px 10.5px 10.5px 6px
		pointer-events: auto
		clear: both
		position: relative
		height: 23px
		width: 132px
		min-width: 132px
		max-width: 500px
		box-sizing: border-box
		direction: ltr
		margin-right: 20px
		text-decoration: none

		&:hover, &:visited, &:active
			text-decoration: none

		&:hover
			width: auto

		body.th_divine &
			background: #99D9EA
			border-color: #00A2E8
			color: #3F48CC

		body.th_nightly &
			background: #252525
			border-color: #555
			color: #999

		body.th_violet &
			background: #D29BD2
			border-color: #A349A3
			color: #808

		body.th_pink &
			background: #f9f
			border-color: #a0a
			color: #a0a

		body.th_emerald &
			background: #9BD29B
			border-color: #49A349
			color: #080

		body.th_yellow &
			background: #F4E9AF
			border-color: #A3A349
			color: #880

		body.th_classic &
			background: #D2D2D2
			border-color: #A3A3A3
			color: #555

		body.th_retro &
			background: #D2D2D2
			border-color: #A3A3A3
			color: #555
			border-radius: 0

	.fr_new_badge
		top: 2px
		right: 2px

	span
		display: inline-block
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		width: 100%

#forum_informer_bar.fi_alt_counter
	a
		border-radius: 10.5px 6px 6px 10.5px

	.fr_new_badge
		right: inherit
		left: 2px

.msgDockWrapper
	pointer-events: none

	> *
		pointer-events: auto

.msgDock
	&.frbutton,
	.dockfrname,
		+user-select(none)

a
	cursor: pointer

a.inspect_button
	margin-left: 0.3em
	position: absolute

	&:not(.hidden) + .cr_inv
		margin-left: 0.8em
		padding-left: 0

.dockfrname_w
	height: 100%

#facebox
	z-index: 303

#facebox_overlay
	z-index: 302

/* conversion timer themes */

#imp_timer
	top: 2px
	left: 60px
	cursor: pointer
	white-space: nowrap

	&.green
		body.th_nightly &
			border-color: #040
			color: #040
			background-color: #05a805

		body:not(.th_nightly) &
			border-color: darkgreen
			color: darkgreen
			background-color: lightgreen

	&.grey, &.darkgray
		body.th_nightly &
			border-color: #444
			color: #444
			background-color: darkgray

		body:not(.th_nightly) &
			border-color: gray
			color: gray
			background-color: lavender

	&.red
		body.th_nightly &
			border-color: #300
			color: #300
			background-color: #ab0202

		body:not(.th_nightly) &
			border-color: firebrick
			color: firebrick
			background-color: darksalmon

	&.yellow
		border-color: #df9900
		color: #af5900

		body:not(.th_nightly) &
			background-color: #fcedae

		body.th_nightly &
			background-color: #ffcb6c

	&.blue
		body:not(.th_nightly) &
			border-color: #199bdc
			color: #199bdc
			background-color: #d9ecff

		body.th_nightly &
			border-color: #108fcf
			color: #108fcf
			background-color: #b8daf9

#trademode_timer
	top: 2px
	left: 25px
	cursor: default
	white-space: nowrap

/* fader svg moving away */

#fader
	position: fixed
	top: 0
	left: -9999px

/* dungeon phrases colorization */

#m_fight_log, .e_m_fight_log
	.bossHint
		.d_time, .d_msg
			color: darkgoldenrod

	.e_mutated
		cursor: default

/* dungeon map colorization */

.dungeon
	.page_wrapper.e_map_in_s_col
		min-width: 1095px

	.e_map_column.s_col
		width: 369px

		.block_title
			width: 281px

.dmc
	&.pointerMatched
		color: red

	&.pointerMatchedThermo
		color: darkorange

	&.map_pos
		&.pointerMatched, &.pointerMatchedThermo
			color: blue

			body.th_nightly &
				color: slategray


/* not th_nightly theme */

body:not(.th_nightly) .dmc
	&.pointerMarker
		cursor: pointer

		&:not(.disabledPointer)
			color: green

		&.disabledPointer:not(.map_pos)
			color: lightgray

	&.map_pos
		&.staircase,
		&.staircaseHint
			color: #af14fd

	&.bossHint
		background: #ffce09

	&.boss,
	&.masterBossForge,
		background: #fa8700

	&.lesserBossForge
		background: #faa84b

	&.bonusGodpower
		background: #c5e0f3

	&.bonusHealth
		background: #b9edbe

	&.trapUnknown
		background: #c173da

	&.trapTrophy,
	&.trapGold,
		background: #dee0c0

	&.trapLowDamage,
	&.trapForge,
		background: #e7afaf

	&.trapModerateDamage
		background: #cb555b

	&.trapMoveLoss
		background: #aaaaaa

	&.treasureChest,
	&.treasureChestForge,
		background: #66cbff

	&.vault
		background: #3ecfbc

	&:not(.dmh)
		&.trapTrophy.trapModerateDamage
			background: linear-gradient(135deg, #dee0c0 0%, #dee0c0 50%, #cb555b 50%, #cb555b 100%)

		&.boss
			&.bonusGodpower
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #c5e0f3 50%, #c5e0f3 100%)

			&.bonusHealth
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #b9edbe 50%, #b9edbe 100%)

			&.trapUnknown
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #c173da 50%, #c173da 100%)

			&.trapTrophy,
			&.trapGold,
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #dee0c0 50%, #dee0c0 100%)

			&.trapLowDamage
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #e7afaf 50%, #e7afaf 100%)

			&.trapModerateDamage
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #cb555b 50%, #cb555b 100%)

			&.trapMoveLoss
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #aaaaaa 50%, #aaaaaa 100%)

			&.bossHint
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #ffce09 50%, #ffce09 100%)

		&.bossHint
			&.bonusGodpower
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #c5e0f3 50%, #c5e0f3 100%)

			&.bonusHealth
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #b9edbe 50%, #b9edbe 100%)

			&.trapUnknown
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #c173da 50%, #c173da 100%)

			&.trapTrophy,
			&.trapGold,
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #dee0c0 50%, #dee0c0 100%)

			&.trapLowDamage
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #e7afaf 50%, #e7afaf 100%)

			&.trapModerateDamage
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #cb555b 50%, #cb555b 100%)

			&.trapMoveLoss
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #aaaaaa 50%, #aaaaaa 100%)

			&.treasureChest
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #66cbff 50%, #66cbff 100%)

			&.vault
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #3ecfbc 50%, #3ecfbc 100%)

/* th_nightly theme */

body.th_nightly .dmc
	&.pointerMarker
		cursor: pointer

		&:not(.disabledPointer)
			color: limegreen

		&.disabledPointer:not(.map_pos)
			color: gray

	&.map_pos
		&.staircase,
		&.staircaseHint
			color: #a744d9

	&.bossHint
		color: #555
		background: #d3ae00

	&.boss,
	&.masterBossForge,
		color: #555
		background: #ff9f07

	&.lesserBossForge
		color: #555
		background: #ffc66b

	&.bonusGodpower
		background: #2d546f

	&.bonusHealth
		background: #2f6c37

	&.trapUnknown
		background: #62317c

	&.trapTrophy,
	&.trapGold,
		background: #76792b

	&.trapLowDamage,
	&.trapForge,
		background: #8b5d5d

	&.trapModerateDamage
		background: #9d1515

	&.trapMoveLoss
		background: #7b7b7b

		&.map_pos
			&.pointerMatched,
			&.pointerMatchedThermo,
				color: #333

	&.treasureChest,
	&.treasureChestForge,
		color: #555
		background: #00bfff

	&.vault
		background: #0c9a81

	&:not(.dmh)
		&.trapTrophy.trapModerateDamage
			background: linear-gradient(135deg, #76792b 0%, #76792b 50%, #9d1515 50%, #9d1515 100%)

		&.boss
			&.bonusGodpower
				color: inherit
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #2d546f 50%, #2d546f 100%)

			&.bonusHealth
				color: inherit
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #2f6c37 50%, #2f6c37 100%)

			&.trapUnknown
				color: inherit
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #62317c 50%, #62317c 100%)

			&.trapTrophy,
			&.trapGold,
				color: inherit
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #76792b 50%, #76792b 100%)

			&.trapLowDamage
				color: inherit
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #8b5d5d 50%, #8b5d5d 100%)

			&.trapModerateDamage
				color: inherit
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #9d1515 50%, #9d1515 100%)

			&.trapMoveLoss
				color: inherit
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #7b7b7b 50%, #7b7b7b 100%)

			&.bossHint
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #d3ae00 50%, #d3ae00 100%)

		&.bossHint
			&.bonusGodpower
				color: inherit
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #2d546f 50%, #2d546f 100%)

			&.bonusHealth
				color: inherit
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #2f6c37 50%, #2f6c37 100%)

			&.trapUnknown
				color: inherit
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #62317c 50%, #62317c 100%)

			&.trapTrophy,
			&.trapGold,
				color: inherit
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #76792b 50%, #76792b 100%)

			&.trapLowDamage
				color: inherit
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #8b5d5d 50%, #8b5d5d 100%)

			&.trapModerateDamage
				color: inherit
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #9d1515 50%, #9d1515 100%)

			&.trapMoveLoss
				color: inherit
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #7b7b7b 50%, #7b7b7b 100%)

			&.treasureChest
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #3e9ecf 50%, #3e9ecf 100%)

			&.vault
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #0c9a81 50%, #0c9a81 100%)

/* dialog box-shadows */

.ui_msg
	body.th_nightly &
		box-shadow: 2px 2px 15px #fff

	body:not(.th_nightly) &
		box-shadow: 2px 2px 15px #000

/* shovel */

#hk_gold_we .voice_generator
	&:not(.shovel)
		background-size: 0 0
		background-repeat: no-repeat

	&.shovel
		font-size: 0
		line-height: 0
		height: 13px
		width: 13px
		margin: 4px 0 0 3px

		&.compact
			margin: 4px -4px 0 0

.shovel
	body:not(.th_nightly) &
		background-position: 0px 0px

		&:hover
			background-position: 13px 0px

	body.th_nightly &
		background-position: 0px 13px

		&:hover
			background-position: 13px 13px

/* map legend */

.guip_legend
	margin-bottom: 10px

	.dmc
		margin-right: 5px

/* inventory fullness and health marks in non-battle modes, also marks for explosive, summoning and sneaky bosses */

body.field #hk_inventory_num .p_bar,
body.has_temple.field #hk_health .p_bar,
body.boss_sneaky #o_hl1 .p_bar,
body.boss_explosive #o_hl1 .p_bar,
body.boss_summoning #o_hl1 .p_bar,
body.boss_explosive #hk_health .p_bar,
	position: relative

body.field #hk_inventory_num .p_bar
	&:before, &:after
		content: " "
		height: 100%
		position: absolute
		width: 2px

body.has_temple.field #hk_health .p_bar:before,
body.boss_sneaky #o_hl1 .p_bar:before,
body.boss_explosive #o_hl1 .p_bar:before,
body.boss_summoning #o_hl1 .p_bar:after,
body.boss_explosive #hk_health .p_bar:before,
	content: " "
	height: 100%
	position: absolute
	width: 2px

body:not(.th_nightly)
	&.field #hk_inventory_num .p_bar
		&:before, &:after
			background: #ccc

	&.has_temple.field #hk_health .p_bar:before,
	&.boss_sneaky #o_hl1 .p_bar:before,
	&.boss_explosive #o_hl1 .p_bar:before,
	&.boss_summoning #o_hl1 .p_bar:after,
	&.boss_explosive #hk_health .p_bar:before,
		background: #ccc

body.th_nightly
	&.field #hk_inventory_num .p_bar
		&:before, &:after
			background: #555

	&.has_temple.field #hk_health .p_bar:before,
	&.boss_sneaky #o_hl1 .p_bar:before,
	&.boss_explosive #o_hl1 .p_bar:before,
	&.boss_summoning #o_hl1 .p_bar:after,
	&.boss_explosive #hk_health .p_bar:before,
		background: #555

body.field #hk_inventory_num .p_bar
	&:before
		left: 33%

	&:after
		left: 50%

body.has_temple.field #hk_health .p_bar:before
	left: 67%

body.boss_sneaky #o_hl1 .p_bar:before
	left: 26%

body.boss_summoning #o_hl1 .p_bar:after
	left: 64%

body.boss_explosive
	#hk_health .p_bar:before
		left: 29%

	#o_hl1 .p_bar:before
		left: 30%

a.broadcast
	font-weight: bold
	font-size: 80%
	vertical-align: top
	margin-left: 0.3em

/* clear voice input button */

.gvl_popover
	right: 0
	bottom: 0
	width: 23px
	height: 29px
	padding-left: 4px
	margin-right: 0

#clear_voice_input
	padding-left: 0
	right: 27px
	width: 15px

#godvoice
	padding-right: 40px

/* relocated duel buttons styles */

.guip.p_group_sep
	display: none

	.chf_link_wrap ~ &,
	.arena_link_wrap ~ &,
		display: block

#pantheons
	.chf_link_wrap,
	.arena_link_wrap,
		padding-top: 0

#msgcustom_informers_errors li
	margin: 0.7em 0

.e_custom_informer_text
	font-family: monospace
	font-size: 1.09em

.e_custom_informer_error
	font-weight: bold

.debug_mode_warning
	color: red

#msgerror ol,
#error_details,
	text-align: left

.crb_inactive
	color: darkgray

	&:hover
		color: #da251d

div.edst_tline
	.l
		float: left

	.r
		float: right
		padding-right: 20px

	.c
		float: none
		text-align: center

	&.e_current_town .l
		font-weight: 700

	&.e_chosen_town .l
		font-style: italic

	&.e_shifted_town
		background-color: #E0E0E0
		&:hover
			background-color: #D3D3D3

		.th_nightly &
			background-color: #5B5B5B
			&:hover
				background-color: #6A6A6A

div.edst_towns
	overflow: auto
	max-height: 400px

div.edst_headline
	line-height: 25px
	text-align: center
	border-bottom: 1px solid silver
	
	.s
		position: absolute;
		right: 4px;
		cursor: pointer;
		font-size: xx-small;
		font-family: monospace;

div.edst_headline_active
	cursor: pointer

div.edst_header
	cursor: pointer
	border-bottom: 1px dashed silver

div.edst_header_active
	color: #009000

	.th_nightly &
		color: #008000

#chf_popover_c > div
	&::before
		content: '[x]'
		font-size: x-small
		width: 20px
		display: inline-block
	&.chfp::before
		content: '[✓]'
	&.chfp::after
		content: ''
	&:hover .e_chfr
		display: inline-block !important
	.e_chfr
		display: none !important
		position: absolute
		right: 0
		top: 0
		padding: 7px 5px
		background-color: inherit
		.div_link
			text-decoration: none
			font-size: x-small
			margin-right: 3px

.e_player_marked
	font-weight: 500
	color: black

#lf_popover_c
	.wl_line
		min-width: 300px

	.wl_ftype
		right: 30px
		min-width: 170px

		span
			position: absolute

	.e_fight_result
		position: absolute
		top: 0
		right: 22px
		line-height: 2em

		span
			position: relative
			line-height: normal
			vertical-align: middle
			padding-left: 0.1em

		.e_fight_result_exp
			top: -0.05em

		.e_fight_result_log
			top: -0.1em


#cntrl .pbar .gpbw
	position: static

body:not(.dungeon) #cntrl .voice_generator.mnemonics
	display: none

.map_exit_pos_ru,
.map_exit_pos_en,
	color: transparent

	&::before
		display: block
		text-align: center
		color: #555

		body.th_nightly &
			color: #999

.map_exit_pos_ru::before
	content: 'B'

.map_exit_pos_en::before
	content: 'E'

#dmap, #map
	+user-select(none)

#dmap div.dml div.dmc.dtrace
	background: rgba(0, 220, 0, 0.7)

.dmapDimensions
	font-size: xx-small
	margin-left: 0.3em

div.new_line.dtrace
	background: rgba(32, 232, 32, 0.4)

.trace_div
	margin-top: 2px
	text-align: center

.trace_button
	margin-left: 3px
	width: 21px
	height: 21px
	padding: 0 !important

	img
		height: 12px
		width: 12px

.trace_buttons
	margin: 3px 0 0 2px
	white-space: nowrap
	display: inline-block

#trace_progress
	max-width: 100%

	/* for ms edge */
	cursor: pointer

#e_streaming
	text-align: center

	.e_cancel
		text-decoration: none

/* disable zooming when double touching */
.e_no_double_tap
	touch-action: manipulation

g.e_visited text
	opacity: 0.33

g.e_unknown polygon
	fill: hsla(60, 10%, 85%, 0.3)
	stroke: inherit

g.e_above_reefs
	text
		fill: #C10000

	&.e_rbeastie text
		fill: #D10000

g.epl
	&.e_hint line
		pointer-events: none

	&.e_hint polyline,
	&.e_hint polygon,
		pointer-events: none
		fill: none

	body:not(.th_nightly) &
		&.e_hint_t1 polygon,
		&.e_hint_t4 polyline,
			stroke: green

		&.e_hint_t2 polygon,
		&.e_hint_t5 line,
			stroke: #199BDC

		&.e_hint_t3 polygon
			stroke: red

	body.th_nightly &
		&.e_hint_t1 polygon,
		&.e_hint_t4 polyline,
			stroke: #08B508

		&.e_hint_t2 polygon,
		&.e_hint_t5 line,
			stroke: #17B2FF

		&.e_hint_t3 polygon
			stroke: #F11

#s_map,
#sail_map,
	svg:not(.e_expanded)
		padding: 5px 10px

svg g.tile
	.e_monochrome &
		text
			font-family: 'Em', Verdana, Helvetica, Arial, sans-serif

	&.hovered polygon
		stroke-width: 1.0
		stroke: hsl(0, 0%, 50%)

	&.unknown.hovered polygon
		fill: hsla(60, 10%, 90%, 0.1)
		stroke: hsl(0, 0%, 70%)

	body:not(.th_nightly) &
		&.e_hint polygon
			stroke: green
			stroke-width: 0.95

		&.e_hint_p polygon
			stroke: #199BDC
			stroke-width: 0.85

		&.e_hint_r polygon
			stroke: red
			stroke-width: 0.85

	body.th_nightly &
		&.e_hint polygon
			stroke: #0F0
			stroke-width: 1

		&.e_hint_p polygon
			stroke: #17B2FF
			stroke-width: 1

		&.e_hint_r polygon
			stroke: #F11
			stroke-width: 1

	&, &.rb:not(:hover), &.imp
		&.e_border polygon
			fill: hsla(200, 40%, 70%, 0.5)

	&, &.rb, &.imp
		&.e_border_n polygon
			fill: hsla(53, 69%, 78%, 0.5)

	&.e_treasure_hover polygon
		fill: #FFC430 !important

	&.e_poi
		&.e_poi_hover polygon
			fill: hsla(200, 75%, 50%, 0.75)

			&:hover
				fill: hsla(200, 75%, 50%, 0.75) !important

		polygon
			stroke-width: 1.75

		body &
			&.e_poi_c0 polygon
				stroke: #003CFF

			&.e_poi_c1 polygon
				stroke: #EE7145

			&.e_poi_c2 polygon
				stroke: #FFB90F

			&.e_poi_c3 polygon
				stroke: #A15835

			&.e_poi_c4 polygon
				stroke: #986EFF

			&.e_poi_c5 polygon
				stroke: #71C39A

			&.e_poi_c6 polygon
				stroke: #DE00FF

			&.e_poi_c7 polygon
				stroke: #040B39

			&.e_poi_c8 polygon
				stroke: #77EE4D

			&.e_poi_c9 polygon
				stroke: #C90077

	/* increase direction line's thickness to make it visible when ark is staying next to a point of interest */
	.dir_arrow
		stroke-width: 2.5

span.e_low_steps
	text-decoration: line-through

span.e_low_supplies
	color: red

span.e_smonster
	border-bottom: 1px dashed darkgray

	+ sup
		white-space: nowrap

span.e_smonster_tre
	font-weight: 700

span.e_beareport a
	text-decoration: none
	font-size: 0.80em

.e_sailing_controls
	text-align: center

.e_option_box
	margin-bottom: 0.4em

#e_ruler_button
	border-radius: 4px
	cursor: pointer

	&.active
		border: 2px solid #07F

body.sail #e_ruler_button
	position: absolute
	top: 0
	left: 25px
	font-size: 1.1em

	&:hover
		color: #DA251D

body.chronicle
	.e_ruler_button_wrap
		margin: 5px 0
		text-align: center
		font-size: 1.8em

	#e_ruler_button:hover
		background-color: #9CF

	#wrap > #fight_chronicle .d_content
		overflow-y: auto
		clear: both

body:not(.th_nightly) #e_ruler_button,
body.chronicle.th_nightly #e_ruler_button:hover,
	color: #000

svg g.tile.e_ruler_anchor
	polygon,
	polygon:hover,
	&.e_poi polygon,
		stroke: #333
		stroke-width: 1.5

#e_ruler
	pointer-events: none
	stroke: #555

#e_ruler_arrow
	fill: #555

.e_ruler_tooltip
	pointer-events: none

	ellipse
		fill: #F0F8FF
		fill-opacity: 0.8

	text
		fill: #000
		font-size: 0.9em
		text-anchor: middle

/* draw grid on the range map. we set only right and bottom borders so that map looks nice in places where cells
	overlap. in particular, that applies to walls as well as cells painted green. */
.rmc:not(.dmw):not(.rmve):not(.rmb)
	.e_rmap_grid &
		border-width: 0 1px 1px 0
		border-style: solid
		border-color: #EBEBEB

		.th_nightly &
			border-color: #2E2E2E

		&:last-child
			border-right: none

	.e_rmap_grid .rml:last-child &
		border-bottom: none

.e_important_step .e_step_inner
	color: #E00

	.th_nightly &
		color: red

.e_important_step_mark
	border-left-color: red
	border-left-width: 2.3px

.e_bits_summary
	padding-top: 0.2em
	text-align: center

#h_tbl.e_detailed .c1
	height: 35px

.e_boss_actions_summary
	margin-left: 1.7em
	font-size: 0.9em

/* makes the difference for blacklisted players */
.chronicle .l_capt > span
	display: initial

body:not(.mbg) #wakelock_switch
	display: block
	position: fixed
	bottom: 0px
	left: 0px
	z-index: 301
	margin: 0 0 0.4em 0.4em
	padding: 0.1em 0.5em
	opacity: 0.3
	background: beige
	border: 1px solid orange
	border-radius: 5px
	cursor: pointer
	font-size: large

	&.wakelock_enabled
		opacity: 1.0

#user_css_form
	display: none

	textarea
		margin: 5px
		width: 30em
		height: 6em

#optdimmer
	background: #000
	position: fixed
	width: 100%
	height: 100%
	opacity: 0.5
	top: 0
	z-index: 10099

#optlightbox
	visibility: hidden
	position: absolute
	z-index: 10100

	&.expanded
		padding-bottom: 2.2em

	fieldset
		height: 90%

#lightbox_desc
	margin-top: 15px
	margin-left: 10px
	text-align: left

#lightbox_table
	overflow-y: scroll
	margin: 0 0 5px 0

#lightbox_ieblock
	padding-top: 0.4em
	width: 95%

.lightbox_row 
	input,
	textarea
		vertical-align: middle
	
	textarea
		box-sizing: border-box
		resize: none

.lightbox_opt_desc
	font-style: italic
	border-bottom: 1px dashed gray
	cursor: pointer

/* gear */
.e_t_icon
	.block_h &
		display: none

	.block_h:hover &
		display: inline

	position: absolute
	margin-left: 3px
	/* bring on top when it overlaps with other controls (e.g., in battle modes) */
	z-index: 1

	body.th_nightly &
		color: #bfbfbf

	body:not(.th_nightly) &
		color: #e8e8e8

body.th_nightly
	.wup-inner,
	.bl_content,
	&.chronicle,
		input[type=text],
		input:not([type]),
			background-color: #4B4B4B
			border-color: #777
			color: #DDD

		input[type=checkbox]
			filter: invert(1) brightness(1.7)

		button,
		input[type=button],
		input[type=submit],
			background: linear-gradient(#444, #222)
			color: #CCC
			border: 1px solid #555
			border-radius: 1px
			padding: 1px 6px

			&:active
				background: linear-gradient(#2A2A2A, #383838)

			&:disabled
				background: linear-gradient(#2A2A2A, #101010)
				color: #888

/* Opera has its own awesome progress bar, and it's not fully configurable anyway */
body.th_nightly:not(.e_opera)
	.wup-inner,
	.bl_content,
	&.chronicle,
		progress[value]
			+appearance(none)
			border: 1px solid #C0C0C0
			border-radius: 1px
			+progress-background-color(#AAA)

			/* must not join specifics for different browsers with a comma. they resent */
			&::-webkit-progress-value
				background-color: #0A900A
				border-radius: 2px
			&::-moz-progress-bar
				background-color: #0A900A
				border-radius: 2px
			color: #0A900A

.e_new_line
	text-align: center
	clear: both
	padding: 5px
	width: 95%

.e_bl_cell
	border-radius: 5px
	border: 1px solid #ddd
	padding: 4px 4px 4px 4px
	line-height: 145%

.e_dragging
	cursor: move
	margin-right: 5px

.e_subs_wup .wup-content
	max-height: 515px

.esubs_content
	width: 800px

.esubs_line
	min-height: 20px
	border-top: 1px solid #DDDDDD
	padding: 0.5em

	img
		vertical-align: middle
		width: 16px

	img.green
		background-color: #0c0

	img.grey
		body.th_nightly &
			background-color: #666
		body:not(.th_nightly) &
			background-color: #ccc

	div
		padding: 0 5px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		display: inline-block
		line-height: 20px
	.title
		width: 65%
		float: left
	.options
		padding: 0
		float: right
	.info
		width: 25%
		float: right
		font-size: x-small

	.c
		display: block
		text-align: center
	.info a,
	.c a,
		text-decoration: none

.e_current_boss
	font-weight: 700

.e_new_part
	font-weight: 700
	color: green

.e_match_part
	text-decoration: underline

.e_selected_town
	circle
		fill: #B6FF9C

		.th_nightly &
			fill: #175600

	&.poi circle
			fill: #00CC00

#t_orders
	.e_ratio
		font-size: xx-small
		color: darkgray
		margin-left: 3px
		cursor: default
	.e_info
		cursor: help
	.e_active .e_info
		font-style: italic
	li:not(.e_bold) .e_info
		color: silver

#e_fetch_orders_info
	.e_wait
		cursor: wait

.chronicle #update
	vertical-align: middle

.chronicle .e_icon
	font-size: 12px
	cursor: pointer
	text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey
	padding-left: 2px
	padding-right: 2px

.chronicle .e_box
	margin-top: 20px
	border-radius: 6px
	border: 1px solid #CCC
	position: relative
	box-shadow: 0px 0px 5px #C0C0C0
	background: #F5F5F5 -webkit-gradient(linear, left top, left 60, from(#F6F8F9), to(#F7F7F7), color-stop(0.5, #E7E7E7), color-stop(0.5, #F9F9F9))
	background: #F5F5F5 -moz-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7)
	background: #F5F5F5 -o-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7)
	background-color: #FAFAFA

.e_map_preview
	text-align: center
	padding: 10px

.dungeon_corrections
	font-size: 90%
	padding: 0.4em
	
	.centered
		text-align: center
		padding: 0.2em
	
	table
		border-collapse: collapse
		box-shadow: none

		td
			padding: 1px
			border: none
			input
				width: 95%

		td:last-child
			width: 95%

.e_gc_link
	.mbg &
		padding-left: 5px

	padding-left: 0.5em
	text-decoration: none
	font-weight: bold
	font-size: 80%

body.mbg

	#menu_w
		z-index: 310

	#menu_rmt
		z-index: 305

	#main_page:not(.blur) ~ .wup
		/* informer_bar should be above the non-fading popups */
		z-index: 300

	#forum_informer_bar
		display: none

	.e_m_forum_informers_line
		span
			white-space: nowrap
			overflow: hidden
			display: inline-block
			&.topic
				text-overflow: ellipsis
				max-width: 90%
			&.date
				font-size: x-small
				padding-left: 5px
				font-style: italic
		.fr_new_badge
			top: 10px
			left: 10px


	#informer_bar
		top: initial
		bottom: 40px
		right: 4px

		div
			clear: both

	#logger
		padding: 4px 0
		font-size: 85%
		-webkit-mask-image: linear-gradient(to left, black 97%, transparent 100%)

	#imp_timer
		top: 8px
		left: 25px

	#trademode_timer
		top: initial
		left: unset

	.arena_msg
		/* override default 100 since it creates a scrollbar on desktop otherwise */
		width: 99.5%

	.craft_button.span
		text-align: center
		display: block

	.pm_link_chf
		/* just copy styles from desktop vanilla godville */
		left: initial
		right: 0
		top: 0
		position: absolute
		padding: 0.5em 0.5em 0.8em 0.7em
		text-decoration: none

	/* godville currently has a freaking lot of important styles missing in mobile fight log */
	.e_m_diary,
	.e_m_fight_log
		.d_imp .d_msg
			font-weight: 700

	.e_m_fight_log
		.opp_infl
			color: #800000
		.saild_1 
			background-color:rgba(163, 180, 225, 0.25) !important
		.saild_2
			background-color:rgba(239, 161, 105, 0.25) !important
		.saild_3
			background-color:rgba(179, 230, 179, 0.25) !important
		.saild_4
			background-color:rgba(38, 223, 189, 0.25) !important

	.e_imp_timer_mining
		position: relative

		#imp_timer
			top: -25px

	.wrmap
		/* godville forgot to specify correct line-height for mobile version, thus datamine content looks a bit distorted */
		line-height: 145%
		font-size: 0.86em

	#e_ruler_button
		top: 6px

	.e_badge_pos
		top: initial

	.e_mt_smap
		min-height: 15px

	#e_streaming
		margin: 8px

